<div>
    <div class="jumbotron text-center">
        <h1>Welcome to Trip Exchange</h1>
        <h2>Find your way home!</h2>
    </div>

    <div class="row">
        <div class="col-md-3 text-center">
            <div>
                <strong>Trips</strong>
            </div>
            <div>
                <span>{{vm.stats.trips}}</span>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <div>
                <strong>Finished Trips</strong>
            </div>
            <div>
                <span>{{vm.stats.finishedTrips}}</span>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <div>
                <strong>Users</strong>
            </div>
            <div>
                <span>{{vm.stats.users}}</span>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <div>
                <strong>Drivers</strong>
            </div>
            <div>
                <span>{{vm.stats.drivers}}</span>
            </div>
        </div>
    </div>
    </div>
</div>