<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to our site!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header"><a href="/" class="navbar-brand">View engine</a></div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/phones">Phones</a></li>
          <li><a href="/tablets">Tablets</a></li>
          <li><a href="/wearables">Wearables</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </nav>
    <div id="title" class="container jumbotron">
      <h1>Mobile devises</h1>
    </div>
    <hr>
    <footer>
      <p class="text-center">Copyright &copy;</p>
      <p class="text-center">Telerik Academy 2015/2016r</p>
    </footer>
  </body>
</html>