<h2 class="form-signin-heading">Please sign in</h2>
<label for="inputUser" class="sr-only">User name</label>
<input type="text" id="inputUser" class="form-control" placeholder="User name" required="" autofocus="">

<label for="inputPassword" class="sr-only">Password</label>
<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

<div class="checkbox">
  <label>
    <input type="checkbox" value="remember-me"> Remember me
  </label>
</div>
<button id="btn-login" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
