@{ 
    ViewBag.Title = "Claculatro";
}

<div class="container">
    <div class="row">
        <h2>Calculator</h2>
        <form id="calculatorForm" method="post">
            <div class="row">
                <div class="form-group">
                    <input type="text" name="firstName" value="@ViewBag.firstName" />
                </div>
                <div class="form-group">
                    <input type="text" name="secondNumber" value="@ViewBag.secondNumber" />
                </div>
                <div class="form-group">
                    <input type="text" name="submit" value="Calculate" />
                </div>
            </div>

            <div class="row">
                Result: <span>@ViewBag.Sum</span>
            </div>
        </form>
    </div>
</div>