body {
    padding: 0;
    margin: 0;
}

table {
    border-bottom: 1px solid black;
}

thead {
    background-color: #54B815;
}

th {
    color: white;
}

tr:nth-child(2n) {
    background-color: #EBEBD8;
}

/*td, th {
    border-left: 2px solid #CFCEBB;
}

td:nth-child(1), th:nth-child(1){
    border-left:none;
}*/

tbody{
    border-left:2px solid #CFCEBB;
}