body {
    padding: 0;
    margin: 0;
}

table {
    margin-left: 10px;
    border-bottom: 2px solid #CFCEBB;
}

thead {
    background-color: #54B815;
}

th {
    color: white;
    text-align: left;
    border-bottom: 2px solid #407F29;
    border-left: 2px solid #407F29;
    /*border-right: 2px solid #67C120;*/
    /*margin:0 2px;*/
    padding: 5px;
}

tr:nth-child(2n) {
    background-color: #EBEBD8;
}

table, td {
    padding: 5px;
    border-collapse: collapse;
    border-left: 2px solid #CFCEBB;
}

.first {
    border-left: hidden;
}

img {
    padding-right: 5px;
}

/*input[type="checkbox"] {
    outline: 2px solid #C2C2C2;
}*/
