<h1>Add new Eevent</h1>
<div class="form-group">
  <label for="tb-event-title">Title:</label>
  <input id="tb-event-title" class="form-control">
</div>
<div class="form-group">
  <label for="tb-event-category">Category:</label>
  <input id="tb-event-category" class="form-control">
</div>
<div class="form-group">
  <label for="tb-event-date">Date:</label>
  <input id="tb-event-date" class="form-control">
</div>
<div class="form-group">
  <label for="tb-event-time">Time:</label>
  <input id="tb-event-time" class="form-control">
</div>
<div class="form-group">
  <label for="tb-event-desc">Description:</label>
  <input id="tb-event-desc" class="form-control">
</div>
<button id="btn-event-add" class="btn btn-warning">Add</button>
