<nav class="navbar navbar-default">
  <ul class="nav nav-default">
    {{#items}}
      <li>
        <a class="btn btn-primary btn-lg" href="#/items/{{id}}">{{name}}</a>
      </li>
    {{/items}}
  </ul>
</nav>
