.container
   .jumbotron
        h1 Telerik Academy Courses
        h2 Best trainings in rhe world
    .row
        .col-md-6
            .panel.panel-primary
                .panel-heading.text-center Featured
                .panel-body(ng-include="'partials/featured-course'")
        .col-md-6
             .panel.panel-primary
                .panel-heading.text-center New
                .panel-body(ng-include="'partials/new-course'")