doctype html
html
  head
    title MEAN Stack WorkShop
    base(href="/")
    link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="/lib/toastr/toastr.css")
    link(rel="stylesheet" href="/css/site.css")
  body(ng-app="myApp" ng-cloak)
    block main-content

    include scripts