<h1>Login/Register Form</h1>

<input placeholder="Username" type="text" class="form-control" id="tb-user" />
<input placeholder="Password" type="text" class="form-control" id="tb-pass" />

<div class="row">
  <button id="btn-login" class="btn btn-default col-sm-6">Login</button>
  <button id="btn-register" class="btn btn-default col-sm-6">Register</button>
</div>
