doctype html
html
  head
    title MEAN Stack Workshop
    base(href="/")
    link(rel="stylesheet" href="/lib/bootstrap/dist/bootstrap.css")
    link(rel="stylesheet" href="/lib/toastr/toastr.css")
    link(rel="stylesheet" href="/css/site.css")
  body(ng-app="app" ng-cloak)
    h1
        | Hi from Layout!

    block main-content

    include scripts