<!DOCTYPE html>
<html>
  <head>
    <title>MEAN Stack Workshop</title>
    <base href="/">
    <link rel="stylesheet" href="/lib/bootstrap/dist/bootstrap.css">
    <link rel="stylesheet" href="/lib/toastr/toastr.css">
    <link rel="stylesheet" href="/css/site.css">
  </head>
  <body ng-app="app" ng-cloak>
    <h1>Hi from Layout!</h1>
    <script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="lib/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/home/home-controller.js"></script>
  </body>
</html>