<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding Name="BasicHttpBinding_ICompanyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60811/CompanyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompanyService"
                contract="CompanyService.ICompanyService" Name="BasicHttpBinding_ICompanyService" />
        </client>
    </system.serviceModel>
</configuration>