body {
    margin: 10px;
    padding: 0;
}

/*.warped{
    border:1px solid black;
}*/

table {
    border-collapse:collapse;
}



table, td, th {
    border: 1px solid black;
}

table tr:first-child td:last-child{
    border-radius: 10px;
}


thead {
    background: #E6E8EA;
    border: 1px solid black;
}

    thead tr th {
        text-align: left;
    }

.check {
    display: inline;
}

th {
    padding-left: 10px;
}
