<h1>Welcom to the</h1>
<h2>Self manager</h2>

<p>
  This is yet another web app for time management
</p>
<strong>Why is this app useless?</strong>
<ul>
  <li>There are much cooler apps, that do the same</li>
  <li>It is created for educational purposes</li>
  <li>Data is stored inside a file!!!</li>
</ul>
