<h2 class="form-signin-heading">Please register or login</h2>
<label for="tb-username" class="sr-only">User name</label>
<input type="text" id="tb-username" class="form-control" placeholder="User name" required="" autofocus="">

<label for="tb-password" class="sr-only">Password</label>
<input type="password" id="tb-password" class="form-control" placeholder="Password" required="">

<div class="checkbox">
  <label>
    <input type="checkbox" value="remember-me"> Remember me
  </label>
</div>
<button id="btn-register" class="btn btn-primary">Register</button>
<button id="btn-login" class="btn btn-primary">Login</button>
