<h1>Add new TODO</h1>
<div class="form-group">
  <label for="tb-todo-text">Text:</label>
  <input id="tb-todo-text" class="form-control">
</div>
<div class="form-group">
  <label for="tb-todo-category">Category:</label>
  <input id="tb-todo-category" class="form-control">
</div>
<button id="btn-todo-add" class="btn btn-warning">Add</button>
