<div id="home-container" class="container clearfix" ng-controller="HomeController">
    <div class="container">
        <div class="row">
            <div class="col-md-6 big-text">
                <strong>Most Popular</strong>
            </div>
            <div class="col-md-6">
                <a href="#/ranklist" class="btn btn-default pull-right">See all</a>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-md-4 text-center" ng-repeat="band in bands">
                <h3><a href="#/band/{{ band.Src }}">{{ band.Name | uppercase }}</a></h3>
                <div class="image-container">
                    <a href="#/band/{{ band.Src }}">
                        <img src="" ng-src="{{ band.ImageUrl }}" />
                    </a>
                </div>
            </div>
        </div>-->
    </div>
</div>