<div id="home-container" class="container clearfix" ng-controller="VoteForPersonsController">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h3>{{ personA | uppercase }}</h3>
                <div class="image-container">
                    <img class="img-container" src="" ng-src="{{ ImageUrlA }}" />
                </div>
            </div>

            <div class="col-md-6 text-center">
                <h3>{{ personB | uppercase }}</h3>
                <div class="image-container">
                    <img class="img-container" src="" ng-src="{{ ImageUrlB }}" />
                </div>
            </div>
        </div>
    </div>
</div>