html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#wrapper {
    width: 790px;
    height: 583px;
    margin-top: 1px;
    background: #F1F1F1;
    border-radius: 2px;
    font-family: Verdana;
    font-size: 11px;
}

main {
    width: 784px;
    height: 577px;
    position: absolute;
    top: 3px;
    left: 1px;
    border: 1px solid #070707;
    border-radius: 1px;
}

#content {
    width: 485px;
    height: 508px;
    padding: 16px 4px;
    position: absolute;
    top: 1px;
    left: 140px;
    border: 2px solid #B4B4B4;
    border-radius: 1px;
    background: #FFF;
}

    #content h1 {
        margin-bottom: 13px;
        font-size: 1.6em;
    }

    #content header button {
        width: 100px;
        height: 20px;
        margin-bottom:6px;
        background-color: #fff;
        border: 2px solid #000;
        font-size: 11px;
    }

    #content > header{
        border-bottom:2px solid #B4B4B4;
    }

#prev:before {
    content: '◄';
    float: left;
}

#next:after {
    content: '►';
    float: right;
}

h2{
    margin:4px;
    background:#808080;
    color:#FFF;
    font-size:1.1em;
}


#header h1 {
    padding: 15px 0 0 2px;
}

    #header h1:before {
        content: url('images/home.png');
    }

nav {
    padding-left: 2px;
    padding-top: 13px;
    letter-spacing: 0.3px;
}

    nav > ul > li a, #header h1 a {
        color: #000;
        text-decoration: none;
    }

.title {
    color: #7C0000;
    font-weight: 600;
}

.line {
}

aside {
    width: 141px;
    height: 552px;
    position: absolute;
    top: 1px;
    left: 638px;
    background: #FFF;
    border: 2px solid #B4B4B4;
    text-align: center;
}

/*footer{    
   position:absolute;
   left:150px;
}*/

ul {
    list-style-type: none;
}


input {
    width: 80px;
}
